<html>
    <head>
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
    </head>
    <body>
        <div class="header">
          <div style="padding:20px">
          <%block name="header" />
            % if session:
              <div class="status">${session.username}|<a href="/">logout</a></div>
            % else:
              <div class="status">anonymous|<a href="/login">login</a></div>
            % endif
          </div>
        </div>
        <div class="container">
          <%block name="content" />
        </div>
    </body>
</html>
