<%inherit file="base.html" />

<%block name="header">
<b>/example</b>
</%block>

<%block name="content">

<h1>Example</h1>
<p>
This file is to show and test the features built into the site.<br>
It does not do anyting besides use a lot of text just to show how a page using
all available widgets and style would look like.
<p>
<table>
    <tr>
        <td>Username:</td>
        <td><input type=text name=username /></td>
    </tr>
    <tr>
        <td>Password:</td>
        <td><input type=text name=password /></td>
    </tr>
    <tr>
        <td colspan=2 align=right><input type=submit /></td>
    </td>
</table>
<p>
<div class="box">
    This is a div,class=box element. The contents here will be rendered inside
    this box
</div>
<p>
<div class="box">
    This is a another div,class=box element. The contents here will be rendered inside
    this box. It's the same box, just a second. With more text. Useless text.
    But still.
    <p>
    This is a <a href="/">link</a>
    <p>
    Also, this shows, how paragraphs are handled inside this div
</div>

</%block>
