<%inherit file="base.html" />

<%block name="header">
<div style="padding:20px">
<b>/pkb login</b>
</div>

</%block>

<%block name="content">
<h1>Login</h1>
<p>
<form method="POST">
<table>
    <tr>
        <td>Username:</td>
        <td><input type=text name=username /></td>
    </tr>
    <tr>
        <td>Password:</td>
        <td><input type=text name=password /></td>
    </tr>
    <tr>
        <td colspan=2 align=right><input type=submit /></td>
    </td>
</table>
</form>
% if error:
  <span style="color:red">
    Invalid username or password
  </span>
% endif

</%block>
