<%inherit file="base.html" />

<%block name="header">
<b>/pkb</b>
</%block>

<%block name="content">

<div class="searchbox">
    
    <h1>Search the personal knowledgebase</h1>

    <form>
    <table align="center">
        <tr>
            <td>
                <input type="text" name="search" size="70" />
            </td>
        </tr>
        <tr>
            <td align="right">
                <input type="submit" value="search" />
            </td>
        </tr>
    </table>
    </form>

</div>

%if searchterm:
    <h2>Search: ${searchterm}</h2>
    ${len(results)} results
%endif

<div class="results">
    % for res in results:
        <div class="box"> 
<pre>${res}</pre>
        </div>
    % endfor
</div>

</%block>
