
body {
    background-color: #000;
    color: #00d000;
    font-family: Andale Mono, monospace;
    padding: 0px;
    margin: 0px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: underline;
    color: #00FF00;
}


.header {
    width: 100%;
    color: #000000;
    background-color: #00d000;
    margin: 0px;
}
div .status {
    float: right;
}

div .status a:link, a:visited, a:hover, a:active {
    text-decoration: underline;
    color: #000;
}

.container {
    width: 900px;
    margin: auto;
    margin-top: 10px;
    border-style: solid;
    border-width: 2;
    border-radius: 5px;
    border-color: #002d00;
    padding: 20px;
}

.box {
    border-style: solid;
    border-width: 2;
    border-radius: 5px;
    border-color: #002d00;
    padding: 20px;
    margin: 20px;
}

.searchbox {
    margin: auto;
    text-align: center;
}

